<h2>Welcome $Admin_user,</h2>

<p>You are using "Template Blocks" v<span id="current-version">$Version</span> | Latest version: <span id="latest-version"><img src="admin/images/loading.gif" width="16" height="16" /></span></p>

<p>&nbsp;</p>

<h3>Statistics</h3>

<p>You have created $Num_blocks blocks, $Num_templates templates and $Num_sections sections.</p>

<p>&nbsp;</p>

<h3>Settings</h3>

<p>Some of the basic setup information can be administered through the settings page.</p>

<p><a href="javascript:void(0)" onClick="gotoPage('settings');">Click here to view your settings</a></p>

<p>&nbsp;</p>

<h3>Repository</h3>

<p>Find user submitted blocks you can use on your site. Submit your own blocks and share with the rest of the community.</p>

<div class="box">
  <h4 class="title-with-line">Latest Blocks</h4>
  <div id="repository"><img src="admin/images/loading.gif" width="16" height="16" /></div>
</div>

<p><a href="http://www.templateblocks.com/support/view/repository/" target="_blank">Visit the repository now</a></p>

<p>&nbsp;</p>

<h3>Support</h3>

<p>Having trouble? Need help? Send in your feedback on the support blog. Enjoying this piece of software is absolutely essential.</p>

<div class="box">
  <h4 class="title-with-line">Latest Comments</h4>
  <div id="comments"><img src="admin/images/loading.gif" width="16" height="16" /></div>
</div>

<p><a href="http://www.templateblocks.com/support/changelog/" target="_blank">Submit your comments</a></p>

<p>&nbsp;</p>
