<h2 class="float-left">Sections</h2>

<div class="actions">
  <a href="javascript:void(0)" onClick="gotoPage('sections&action=edit')">Add New</a>
</div>

<div id="info">
$info
  <div id="feedback">&nbsp;</div>
</div>

<ul id="sections">
$listings
</ul>


<script type="text/javascript">
//<![CDATA[
Sortable.create('sections', { tree:true, scroll:window });
//]]>
</script>


<form action="admin.php" method="post" name="save-tree" id="save-tree" onsubmit="saveTree('sections'); return false;">
  <div class="clear"><!-- --></div>
  <div class="submit-buttons">
    <input type="submit" value="Save Tree" />
  </div>
</form>
