<div id="sidebar">

<ul id="menu">
  <li><a href="#"><span>Menu Item</span></a></li>
  <li><a href="#"><span>Menu Item</span></a></li>
  <li><a href="#"><span>Menu Item</span></a></li>
</ul>

<div class="line"><hr /></div>

<p>If you need more help you can always visit the <a href="http://www.templateblocks.com/support/">support section</a> of template blocks. There you will find <a href="http://www.templateblocks.com/support/view/tutorials/">tutorials</a> and a <a href="http://www.templateblocks.com/support/view/repository/">repository</a> of blocks you can use on your website.</p>

</div>