<h2>Kind of an error?</h2>

<p>Template Blocks thinks have run this setup before...</p>
<p>Possible situations may be:</p>

<ul class="bullet">
  <li>You have interrupted a previous installation and Template Blocks is still not working. In this case, please <a href="index.php?overide_check=1">click here to override this warning</a>.</li>
  <li>You are redirected here from the administration of Template Blocks because you still have the setup folder online. Please remove the <b>"setup/"</b> folder and all of it's contents before someone takes advantage of it and something really bad happens ;)</li>
</ul>

<p>If there is something else going wrong please visit the <a href="http://www.templateblocks.com" target="_blank">Template Blocks website</a> and leave your comments.</p>