<h2>Setup Revisited</h2>

<p>Template Blocks thinks you have run this setup before. Possible situations may be:</p>

<p>&nbsp;</p>

<h2>Updating...</h2>

<p>You have just uploaded a newer version of Template Blocks and want to start using it. In this case click the following button.</p>

<form action="index.php?update=1" method="post" class="submit-buttons">
  <input type="submit" value="Start Update"></a>
</form>

<p>&nbsp;</p>

<h2>Interrupted Installation...</h2>

<p>You have interrupted a previous installation and Template Blocks is still not working. In this case, please click the following button to override this warning and re-initiate the setup process.</p>

<form action="index.php?overide_check=1" method="post" class="submit-buttons">
  <input type="submit" value="Start Setup"></a>
</form>

<p>&nbsp;</p>

<h2>Setup folder not removed...</h2>

<p>You have successfully completed the setup process but you are redirected here from the administration page because you still have the setup folder online. Please remove the <b>"setup/"</b> folder and all of it's contents before someone takes advantage of it and something really bad happens ;)</p>

<p>&nbsp;</p>

<p>If there is something else going wrong please visit the <a href="http://www.templateblocks.com/support/" target="_blank">Template Blocks support pages</a> and request for help.</p>
