<h2>Finishing Setup</h2>

<div id="info">
  <p>This template engine has been tailored to speed up the process of compiling all the different parts of a web template.</p>

  <p>You are now ready to use Template Blocks. Get ready to create your website template like never before. </p>

  <p>You will need to remove the setup folder to avoid manipulative use of the containing files.</p>

  <p id="feedback"></p>
</div>


<form action="../admin.php?del-setup=1" method="post" name="setup-finish" id="setup-finish" class="settings" onsubmit="submitForm(this); return false;">
  <input type="hidden" name="mode" id="mode" value="delete" />
  <div class="clear"><!-- --></div>
  <div class="submit-buttons">
    <input type="submit" value="Click here to do it automatically" />    
  </div>
</form>

<p class="align-center">(not guaranteed to work...)</p>
