<h2>Initiating Installer</h2>

<p>Welcome to the setup process of Template Blocks. We promise this will not take much of your time.</p>

<p>Before anything else let's outline the requirements to be able to work with Template Blocks.</p>
<ul class="bullet">
  <li>Your domain is pointing to a server where you have read-write permissions</li>
  <li>Your server has <b>PHP 5</b> installed</li>
  <li>You have access to a <b>MySQL</b> database, and </li>
  <li>You are using a browser with <b>JavaScript</b> and <b>CSS</b> enabled</li>
</ul>

<p>Although these technologies are fairly common these days some people may have problem using any one of them. All of the above must be available for the recipe to work ;)</p>

<p>To make things even easier for you this installer has been created with the same ingredients as the administration interface so if you can use the setup you won't have any problem using Template Blocks itself.</p>

<form action="index.php" method="post" class="submit-buttons" onsubmit="gotoPage('step1'); return false;">
  <input type="submit" value="Click to START"></a>
</form>