/* IE can't show the bullet image on floated list elements */
#header #top-links li {
  list-style:none;
  width: 84px;
  padding-left:16px;
  margin-right:16px;
  background:url(../images/bullet.gif) no-repeat left center;
}